<h4><b><u>Critère de X² :</u></b></h4>
<div class="form-group row">
  <label for="Intervalles" class="col-md-2 col-form-label">Intervales : </label>
  <div class="col-xs-8 col-sm-4">
    <textarea type="text" class="form-control " id="Intervalles" rows="2" [(ngModel)]="intervalle"></textarea>
  </div>
</div>
<div class="form-group row">
  <label for="Freq" class="col-md-2 col-form-label">Fréquences : </label>
  <div class="col-xs-8 col-sm-4">
    <textarea type="text" class="form-control " id="Freq" rows="2" [(ngModel)]="freq"></textarea>
  </div>
</div>
<div class="form-group row">
  <label for="Taille" class="col-md-2 col-form-label">Taille : </label>
  <div class="col-xs-8 col-sm-4">
    <input type="text" class="form-control" id="Taille" [(ngModel)]="taille">
  </div>
</div>
<div class="form-group row">
  <label for="pi" class="col-md-2 col-form-label">P'i : </label>
  <div class="col-xs-8 col-sm-4">
    <input type="text" class="form-control" id="pi" [(ngModel)]="pi">
  </div>
</div>
<div class="col text-center"><button class="btn btn-success" (click)="calculerNorm()">Loi Normale</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button class="btn btn-success" (click)="calculerUni()">Loi Uniforme</button></div>
<b>Plus petite valeur : </b>{{ppv}} <br>
<b>Plus grande valeur : </b>{{pgv}} <br>
<b>Hypothèse X² : </b>{{resX}} <br>
<table class="table table-striped">
  <thead>
  <tr>
    <th class="col-xs-4">Intervalle</th>
    <th class="col-xs-4">Frequence</th>
    <th class="col-xs-4">Frequence Relative</th>
    <th class="col-xs-4">Frequence Empirique</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let index of this.splitFreq; index as i">
    <td>{{this.splitInt[i]}}</td>
    <td>{{this.splitFreq[i]}}</td>
    <td>{{this.freqRel[i]}}</td>
    <td>{{this.freqEmp[i]}}</td>
  </tr>
  </tbody>
</table>
<!--<b>Esperance de X : </b>{{espX}} <br>
<b>Esperance de Y : </b>{{espY}} <br>
<b>Variance de X : </b>{{varX}} <br>
<b>Variance de Y : </b>{{varY}} <br>
<b>Covariance : </b>{{covar}} <br>
<b>Coefficient de correlation : </b>{{coef}} <br>
<b>Formule ligne de regression : y = aX + b </b> <br>
<b>a : </b>{{a}} <br>
<b>aX : </b>{{aX}} <br>
<b>b : </b>{{b}} <br>
<b>y : </b>{{y}} <br>-->
